[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.24"
optimizer = true
optimizer_runs = 200
via_ir = true
evm_version = "shanghai"

[profile.default.fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true

[rpc_endpoints]
monad_testnet = "${MONAD_TESTNET_RPC_URL}"
monad_devnet = "${MONAD_DEVNET_RPC_URL}"

[etherscan]
monad_testnet = { key = "${ETHERSCAN_API_KEY}", url = "${MONAD_EXPLORER_URL}" }
